<!DOCTYPE html>
<html>
<body>

<!-- NAVBAR -->
<nav style="display:flex; justify-content:space-between; padding:15px; background:#f5f5f5;">
<h2>ToyCraft Tales</h2>
<div>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/dashboard">Dashboard</a>
<a href="/story">Story</a>
</div>
</nav>

<body>

<h2>ToyCraft Tableau Dashboard</h2>

<div class='tableauPlaceholder' id='viz1770897309445' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt=' ' src='https://public.tableau.com/static/images/To/ToyCraftTales_17706193260260/ToyCraftsTableausVisionIntoToyManufacturerData/1_rss.png' style='border: none' />
        </a>
    </noscript>

    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https://public.tableau.com/' />
        <param name='embed_code_version' value='3' />
        <param name='name' value='ToyCraftTales_17706193260260/ToyCraftsTableausVisionIntoToyManufacturerData' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
    </object>
</div>

<script type='text/javascript'>

var divElement = document.getElementById('viz1770897309445');
var vizElement = divElement.getElementsByTagName('object')[0];

vizElement.style.width = '1000px';
vizElement.style.height = '800px';

var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';

vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>

</body>
</html>
